name: Decommission (Destroy)

on:
  workflow_dispatch:
    inputs:
      confirmation:
        description: 'Type "DESTROY" to confirm'
        required: true

jobs:
  destroy:
    runs-on: ubuntu-latest
    if: github.event.inputs.confirmation == 'DESTROY'
    permissions:
      id-token: write
      contents: read

    env:
      AWS_REGION: us-east-1
      TF_VERSION: 1.5.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}
          terraform_wrapper: false

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Create Backend Build Directory
        run: |
          mkdir -p ./backend/build
          touch ./backend/build/dummy.txt

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var="openai_api_key=${{ secrets.OPENAI_API_KEY }}"
        working-directory: ./terraform
